<!-- templates/map.html -->
<html>

<head>
  <meta charset='utf-8' />
  <title></title>
  <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
  <script src='https://api.mapbox.com/mapbox-gl-js/v1.4.1/mapbox-gl.js'></script>
  <link href='https://api.mapbox.com/mapbox-gl-js/v1.4.1/mapbox-gl.css' rel='stylesheet' />
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
  <style>
    body {
      margin: 0;
      padding: 0;
    }
    #map {
      position: absolute;
      top: 0;
      bottom: 0;
      width: 100%;
    }
  </style>
</head>

<body>
  <div id='map'></div>
  <script>
    mapboxgl.accessToken = '{{ ACCESS_KEY }}';
    var map = new mapboxgl.Map({
      container: 'map',
      style: 'mapbox://styles/mapbox/light-v10',
      // center: [-91.5477,41.6627],
      center: [-98.4842, 39.0119],
      zoom: 4
    });
    // Add zoom and rotation controls to the map.
    map.addControl(new mapboxgl.NavigationControl());

    // Rendering data
    map.on('load', function() {

      map.addLayer({
        'id': 'population',
        'type': 'circle',
        'source': {
          type: 'vector',
          url: 'myoutput.geojson'
        },
        'source-layer': 'sf2010',
        'paint': {
          // make circles larger as the user zooms from z12 to z22
          'circle-radius': {
            'base': 1.75,
            'stops': [
              [12, 2],
              [22, 180]
            ]
          },
          // color circles by ethnicity, using a match expression
          // https://docs.mapbox.com/mapbox-gl-js/style-spec/#expressions-match
          'circle-color': [
            'match', ['get', 'positivity'],
            '1', '#fee0d2',
            '2', '#fc9272',
            '3', '#ef3b2c',
            '4', '#a50f15',
            /* other */
            '#ccc'
          ]
        }
      });
    });
  </script>
</body>

</html>
